


.wm-circle {
  opacity: 0.5;
  transition: opacity 1.5s;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  animation: dashdraw 50s linear infinite;
}

@keyframes dashdraw {
  to {stroke-dashoffset: 150}
}

.wm-invisible {
  visibility: hidden;
}

.wm-noneOpacity {
  opacity: 0;
}

.wm-infoText {  
  transition: opacity 1.5s;
}

.wm-legendHead {
  font: 15px sans-serif; fill: rgba(155,155,155,1);
  text-anchor: middle
}

.wm-legendContent {
  font: 14px sans-serif; fill: rgba(55,55,55,1);
  text-anchor: middle
}

.testParent {
  height: calc(97vw * 0.663);
  width: calc(97vw);
  display: block;
  border: 1px solid red;
  position: relative;
}

.showBorder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% - 3px);
}